body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pallate_flex {
  display: flex;
  /* 자식들이 균등하게 자리 차지하는 CSS */
  flex: 1 1 auto;
}

.box {
  width: 100%;
  height: 100%;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
