body {
  height: 300vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.up {
  display: flex;
}

.down {
  display: flex;
}

.box {
  width: 300px;
  height: 300px;
}

.TURQUOISE {
  background-color: #1abc9c;
}

.TURQUOISE > span {
  /* 현재 위치에서 움직이는 것 */
  position: relative;
  left: 10px;
  top: 10px;
}

.EMERALD {
  background-color: #2ecc71;
}

.EMERALD > span {
  /* 웹 페이지 기준에서 움직이는 것 */
  position: absolute;
  left: 20px;
  top: 20px;
}

.GREEN_SEA {
  background-color: #16a085;
}

.GREEN_SEA > span {
  /* 기본적으로 깔려있는 디폴트 값 position: static */
  position: fixed;
  top: 0px;
  left: 0px;
}

.NEPHRITIS {
  background-color: #27ae60;
}

.NEPHRITIS > span {
  position: sticky;
  top: 100px;
}
