.apple {
  /* 자식의 배치도 css */
  display: flex;
  /* 가운데로 맞춰줘 */
  justify-content: center;
  /* 자식들의 간격을 10px */
  gap: 10px;

  color: black;
  background-color: white;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* 두께 스타일 색깔 */
  border: 1px solid #dbdbdb;
  border-radius: 10px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.icon {
  display: flex;
  /* 가운데로 맞춰줘 */
  align-items: center;
  font-size: 30px;
}

.round_button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appleicon {
  background-color: black;
  color: white;
}

.emailicon {
  background-color: skyblue;
  color: white;
}

.naver {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
